NEXT_PUBLIC_API_URL=http://localhost:5000/api

NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyB9Is36ZboeJ3CZlRjxVS9Bh3uQlnfGDKQ",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="construction-expense-man-3168d.firebaseapp.com",
NEXT_PUBLIC_FIREBASE_PROJECT_ID= "construction-expense-man-3168d",
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="construction-expense-man-3168d.firebasestorage.app",
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="194886701597",
NEXT_PUBLIC_FIREBASE_APP_ID="1:194886701597:web:3376f9677562d6d4ff2cf4",
